//colors
$dark_grey: #222;
$brand-primary: #0A8FD5;
$brand-highlight: lighten($brand-primary, 5%);
$white: white;
$white_10: rgba(255, 255, 255, 0.1);
$white_50: rgba(255, 255, 255, 0.5);
$white_70: rgba(255, 255, 255, 0.7);
$black: #000;

$stars: #f1c40f;
$brand-primary_75: rgba($brand-primary, 0.75);
$color_bon_jour_approx: #e1e1e1;
$brand-primary_50: rgba($brand-primary, 0.5);

//fonts
$font_0: Roboto;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Raleway;